{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact
{% endblock title %}


{% block content %}
<!--=================================
 inner-intro -->
 
 <section class="inner-intro bg-1 bg-overlay-black-70">
  <div class="container">
     <div class="row text-center intro-title">
           <div class="col-md-6 text-md-left d-inline-block">
             <h1 class="text-white">Contact </h1>
           </div>
           <div class="col-md-6 text-md-right float-right">
             <ul class="page-breadcrumb">
                <li><a href="home"><i class="fa fa-home"></i> Accueil</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>Contact</span> </li>
             </ul>
           </div>
     </div>
  </div>
</section>

<!--=================================
 inner-intro -->


<!--=================================
 contact -->

<section class="contact-2 page-section-ptb white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 justify-content-center">
         <div class="section-title">
           <span>Avez-vous une question ?</span>
           <h2>CONTACTEZ NOUS!</h2>
           <div class="separator"></div>
         </div>
      </div>
    </div>
    <div class="row">
     <div class="col-lg-8 col-sm-12 mb-lg-0 mb-1">
        <div class="gray-form row">
         <div class="col-md-12">
          <form class="form-horizontal" id="contactform" role="form" method="post" action="http://themes.potenzaglobalsolutions.com/html/cardealer/php/contact-form.php">
            <h5>Nous avons vendu plus de 500 véhicules, bénéficier de notre expertise.</h5>
            <p>
                Ce serait formidable de bénéficier de notre expertise! Si vous avez des questions, n'hésitez pas à nous envoyer un message. Nous sommes impatients de vous entendre! Nous répondons dans les 24 heures !</p>
			<div id="formmessage" class="form-notice" style="display:none;">Success/Error Message Goes Here</div>
            <div class="contact-form">
               <div class="form-group">
                 <input id="contactform_name" type="text" placeholder="Nom*" class="form-control"  name="name">
             </div> 
               <div class="form-group">
                 <input id="contactform_email" type="email" placeholder="Email*" class="form-control" name="email">
                </div>
                <div class="form-group">
                  <input id="contactform_phone" type="text" placeholder="Téléphone*" class="form-control" name="phone">
              </div>
                 <div class="form-group">
                   <textarea id="contactform_message" class="form-control input-message" placeholder="Message*" rows="7" name="message"></textarea>
              </div>
                 <input type="hidden" name="action" value="sendEmail"/>
                 <button id="submit" name="submit" type="submit" value="Send" class="button red"> Envoyez <i class="fa fa-spinner fa-spin fa-fw btn-loader" style="display: none;"></i></button>
               </div>
            </form>
           



          </div>
        </div>
       </div>
       <div class="col-lg-4 col-sm-12">
          <div class="feature-box-3">
            <div class="icon">
               <i class="fa fa-map-marker"></i>
             </div>
             <div class="content">
               <h5>Adresse </h5>
                <p>Riviera 4, Abidjan, Côte d'Ivoire </p>
              </div>
            </div>
            <div class="feature-box-3">
            <div class="icon">
               <i class="fa fa-phone"></i>
             </div>
             <div class="content">
               <h5>Téléphone </h5>
                <p>+225 01 53 878 770 </p>
              </div>
            </div>
            <div class="feature-box-3">
            <div class="icon">
               <i class="fa fa-envelope-o"></i>
             </div>
             <div class="content">
               <h5>Email  </h5>
                <p> coulibalyzieisrael@gmail.com </p>
              </div>
            </div>
            
         </div>
     </div>
  </div>
</section>

<!--=================================
 contact -->

<!--=================================
 contact-map -->

 <section class="contact-map">
  <div class="container-fluid">
    <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d1986.2881673534264!2d-3.952829665619178!3d5.328576852520831!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xfc1ec51e641cd5b%3A0x4e5701a8fca8a0a9!2sRivi%C3%A9ra%204%2C%20Abidjan!3m2!1d5.329409399999999!2d-3.9527151999999997!5e0!3m2!1sfr!2sci!4v1633309896973!5m2!1sfr!2sci" allowfullscreen></iframe>
  </div>
 </section>

<!--=================================
 contact-map -->
{% endblock content %}