{% extends 'base.html' %}
{% load static %}

{% block title %}
Details
{% endblock title %}


{% block content %}
<section class="inner-intro bg-6 bg-overlay-black-70">
    <div class="container">
       <div class="row text-center intro-title">
             <div class="col-md-6 text-md-left d-inline-block">
               <h1 class="text-white">{{ voiture.marque }} {{ voiture.modele }} </h1>
             </div>
             <div class="col-md-6 text-md-right float-right">
               <ul class="page-breadcrumb">
                  <li><a href="/home"><i class="fa fa-home"></i> Accueil</a> <i class="fa fa-angle-double-right"></i></li>
                  <li><a href="/achat">Achat</a> <i class="fa fa-angle-double-right"></i></li>
                  <li><span> {{ voiture.marque }} {{ voiture.modele }}</span> </li>
               </ul>
             </div>
       </div>
    </div>
  </section>
  
  <!--=================================
   inner-intro -->
  
  
  <!--=================================
  car-details -->
  
  <section class="car-details page-section-ptb">
    <div class="container">
      <div class="row">
       <div class="col-md-9">
         <h3>{{ voiture.marque }} {{ voiture.modele }} </h3>
        </div>
       <div class="col-md-3">
        <div class="car-price text-md-right">
           <strong>{{ voiture.prix }} FCFA</strong>
           
         </div> 
        </div> 
      </div>
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
      <div class="row">
       <div class="col-md-6">
          <div class="slider-slick">
            <div class="slider slider-for detail-big-car-gallery"> 
                 <img class="img-fluid" src="{{voiture.photo_face.url}}" alt=""> 
                 <img class="img-fluid" src="{{voiture.photo_longueur1.url}}" alt="">
                 <img class="img-fluid" src="{{voiture.photo_longueur2.url}}" alt=""> 
                 <img class="img-fluid" src="{{voiture.photo_arriere.url}}" alt=""> 
                 <img class="img-fluid" src="{{voiture.photo_tableau.url}}" alt=""> 
                 <img class="img-fluid" src="{{voiture.photo_option1.url}}" alt=""> 
                 <img class="img-fluid" src="{{voiture.photo_option2.url}}" alt=""> 
                 <img class="img-fluid" src="{{voiture.photo_option3.url}}" alt=""> 
              </div>
              <div class="slider slider-nav"> 
                <img class="img-fluid thum" src="{{voiture.photo_face.url}}" alt=""> 
                <img class="img-fluid thum" src="{{voiture.photo_longueur1.url}}" alt=""> 
                <img class="img-fluid thum" src="{{voiture.photo_longueur2.url}}" alt=""> 
                <img class="img-fluid thum" src="{{voiture.photo_arriere.url}}" alt=""> 
                <img class="img-fluid thum" src="{{voiture.photo_tableau.url}}" alt=""> 
                <img class="img-fluid thum" src="{{voiture.photo_option1.url}}" alt=""> 
                <img class="img-fluid thum" src="{{voiture.photo_option2.url}}" alt="">
                <img class="img-fluid thum" src="{{voiture.photo_option3.url}}" alt=""> 
              </div>
           </div>
          
       </div>
       <div class="col-md-6">
         <div class="car-details-sidebar">
            <div class="details-block details-weight">
              <h5>DESCRIPTION</h5>
              <ul>
                <li> <span>Marque</span> <strong class="text-right">{{ voiture.marque }} {{ voiture.modele }}</strong></li>
                <li> <span>Année </span> <strong class="text-right">{{ voiture.annee }}</strong></li>
                <li> <span>Kilométrage</span> <strong class="text-right">{{ voiture.kilometrage }} km</strong></li>
                <li> <span>Etat</span> <strong class="text-right">{{ voiture.etat }}</strong></li>
                <li> <span>Couleur carosserie</span> <strong class="text-right">{{ voiture.couleur }}</strong></li>
                <li> <span>Couleur intérieur</span> <strong class="text-right">{{ voiture.couleur_intertieur}} ({{ voiture.matiere_interieur }})</strong></li>
                <li> <span>Position</span> <strong class="text-right">{{ voiture.lieu}}</strong></li>
                <li> <span>Contact</span> <strong class="text-right">+225 01 53 878 770</strong></li>
              </ul>
             </div>
             </div>
          </div>
         </div>
         <div class="row">
           <div class="col-lg-9 col-md-9  col-sm-9">
             <div id="tabs">
            <ul class="tabs">
               <li data-tabs="tab1" class="active"> <span aria-hidden="true" class="icon-diamond"></span> Information générale</li>
             </ul>
             <div id="tab1" class="tabcontent"> 
               <p>{{ voiture.description }}</p>
           </div>

        </div>
            <div class="extra-feature">
             <h6>Options</h6>
              <div class="row">
                <div class="col-md-8">
                   <ul class="list-style-1">
                     <li><i class="fa fa-check"></i> {{ voiture.opt }}</li>
                   </ul>
                </div>
                
                
              </div>
            </div>
           </div>
           <div class="col-md-3">
              <div class="car-details-sidebar">
               <div class="details-form contact-2 details-weight">
                
              </div>
             </div>
           </div>
         </div>
         <div class="feature-car">
         <h6>Voitures récentes</h6>
     <div class="row">
        <div class="col-md-12">
           <div class="owl-carousel" data-nav-arrow="true" data-nav-dots="true" data-items="4" data-md-items="4" data-sm-items="2" data-xs-items="2" data-space="15">

        {% for voiture in recent %}
        <div class="item">
           <div class="car-item gray-bg text-center">
             <div class="car-image">
               <img class="img-fluid recents" src="{{voiture.photo_face.url}}" alt="">
               <div class="car-overlay-banner">
                <ul> 
                  <li><a href="{% url 'detail' voiture.id %}"><i class="fa fa-eye"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                <li><i class="fa fa-calendar"></i> {{ voiture.annee }}</li>
                <li><i class="fa fa-cog"></i> {{ voiture.transmission }}</li>
                <li><i class="fa fa-dashboard"></i> {{ voiture.kilometrage }} km</li>
               </ul>
            </div>
             <div class="car-content">
               <a href="{% url 'detail' voiture.id %}">{{ voiture.marque }} {{ voiture.modele }}</a>
               <div class="separator"></div>
               <div class="price">
                 <span class="new-price">{{ voiture.prix }} FCFA</span>
               </div>
             </div>
           </div>
        </div>
        {% endfor %}


 
        </div>
       </div>
      </div>
     </div>
    </div>
  </section>



{% endblock content %}


