{% extends 'base.html' %}
{% load static %}

{% block title %}
Acceuil
{% endblock title %}


{% block content %}

<!--=================================
 rev slider -->

 <div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="slider-9" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
      <div id="rev_slider_8_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
    <ul>  <!-- SLIDE  -->
        <li data-index="rs-15" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="revolution/assets/slider-9/100x50_mainbg-3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
            <img src="{% static 'revolution/assets/slider-9/mainbg-3.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
    
        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme" 
           id="slide-15-layer-1" 
           data-x="right" data-hoffset="131" 
           data-y="189" 
                data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-transform_idle="o:1;"
     
           data-transform_in="x:right;s:800;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:300;" 
          data-start="500" 
          data-responsive_offset="on" 
    
          
          style="z-index: 5;"><img src="{% static 'revolution/assets/slider-9/red-car.png' %}" alt="" data-ww="1139px" data-hh="359px" data-no-retina> </div>
    
        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme" 
           id="slide-15-layer-2" 
           data-x="140" 
           data-y="200" 
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"
     
           data-transform_in="x:left;s:800;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:800;" 
          data-start="980" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 
    
           data-end="8980" 
    
          style="z-index: 6; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 300; color: rgba(0, 0, 0, 1.00);font-family:Open Sans;text-transform:capitalize;font-style:italic;">Need <strong>Some </strong><br><strong>New </strong>Wheels? </div>
    
        <!-- LAYER NR. 3 -->
        <div class="tp-caption   tp-resizeme" 
           id="slide-15-layer-3" 
           data-x="140" 
           data-y="400" 
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"
     
           data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:640;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:800;" 
           data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
          data-start="1450" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 
    
          
          style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 36px; font-weight: 300; color: rgba(0, 0, 0, 1.00);font-family:Open Sans;font-style:italic;">Buy & sell your car on <strong>Cardealer </strong> </div>
    
        <!-- LAYER NR. 4 -->
        <div class="tp-caption rev-btn button" 
           id="slide-15-layer-4" 
           data-x="140" 
           data-y="470" 
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
            data-style_hover=""
     
           data-transform_in="opacity:0;s:710;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:800;" 
          data-start="1870" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 
          data-responsive="off"
          
          style="z-index: 8; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 600;font-family:Open Sans;text-transform:capitalize;font-style:italic;padding:12px 35px 12px 35px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Search Here </div>
      </li>
      <!-- SLIDE  -->
        <li data-index="rs-16" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="revolution/assets/slider-9/100x50_mainbg-3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
            <img src="{% static 'revolution/assets/slider-9/mainbg-3.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
    
        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme" 
           id="slide-16-layer-5" 
           data-x="100" 
           data-y="370" 
                data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-transform_idle="o:1;"
     
           data-transform_in="x:left;s:800;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:300;" 
          data-start="500" 
          data-responsive_offset="on" 
    
          
          style="z-index: 5;"><img src="{% static 'revolution/assets/slider-9/leftside-car.png' %}" alt="" data-ww="777px" data-hh="245px" data-no-retina> </div>
    
        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme" 
           id="slide-16-layer-7" 
           data-x="right" data-hoffset="100" 
           data-y="370" 
                data-width="['none','none','none','none']"
          data-height="['none','none','none','none']"
          data-transform_idle="o:1;"
     
           data-transform_in="x:right;s:800;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:570;" 
          data-start="770" 
          data-responsive_offset="on" 
    
          
          style="z-index: 6;"><img src="{% static 'revolution/assets/slider-9/rightside-car.png' %}" alt="" data-ww="777px" data-hh="245px" data-no-retina> </div>
    
        <!-- LAYER NR. 3 -->
        <div class="tp-caption   tp-resizeme" 
           id="slide-16-layer-8" 
           data-x="center" data-hoffset="" 
           data-y="199" 
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"
     
           data-transform_in="y:top;s:800;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:800;" 
          data-start="1000" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 
    
          
          style="z-index: 7; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 300; color: rgba(0, 0, 0, 1.00);font-family:Open Sans;font-style:italic;">Need <strong>Some </strong>New <strong>Wheels?</strong> </div>
    
        <!-- LAYER NR. 4 -->
        <div class="tp-caption   tp-resizeme" 
           id="slide-16-layer-9" 
           data-x="center" data-hoffset="" 
           data-y="310" 
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"
     
           data-transform_in="x:50px;opacity:0;s:690;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:800;" 
          data-start="1560" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 
    
          
          style="z-index: 8; white-space: nowrap; font-size: 36px; line-height: 36px; font-weight: 300; color: rgba(0, 0, 0, 1.00);font-family:Open Sans;font-style:italic;">Buy & sell your car on Cardealer  </div>
    
        <!-- LAYER NR. 5 -->
        <div class="tp-caption rev-btn button" 
           id="slide-16-layer-10" 
           data-x="center" data-hoffset="" 
           data-y="378" 
                data-width="['auto']"
          data-height="['auto']"
          data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
            data-style_hover=""
     
           data-transform_in="y:bottom;s:750;e:Power2.easeInOut;" 
           data-transform_out="opacity:0;s:800;" 
          data-start="1920" 
          data-splitin="none" 
          data-splitout="none" 
          data-responsive_offset="on" 
          data-responsive="off"
           data-end="8990" 
    
          style="z-index: 9; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 600;font-family:Open Sans;text-transform:capitalize;padding:12px 35px 12px 35px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Click Here </div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
    </div>
    
    <!--=================================
     rev slider -->
    
    
    <!--=================================
     content-box -->
    
    <section class="content-box-section red-bg">
     <div class="container-fluid">
      <div class="row row-eq-height no-gutter">
        <div class="col-md-4 content-box-6">
          <div class="feature-box-4">
             <div class="icon">
               <i class="glyph-icon flaticon-social text-white"></i>
             </div>
             <div class="content">
               <h6 class="text-white">BUYING AND SELLING RESOURCES </h6>
               <p class="text-white">We provide everything you need to build an Amazing dealership website developed especially for car sellers, dealers or auto motor retailers. </p>
               <a class="button black" href="#"><span>Read More</span> </a>
             </div>
          </div>
        </div>
        <div class="col-md-4 content-box-6">
          <div class="feature-box-4">
             <div class="icon">
               <i class="glyph-icon flaticon-key text-white"></i>
             </div>
             <div class="content">
               <h6 class="text-white">DO YOU WANT TO SELL YOUR CAR?  </h6>
               <p class="text-white">Whether you are looking at buying your dream car or selling a classic or collector car, Car dealer has thousands of premium classics for sale in our online Inventory.  </p>
               <a class="button black" href="#"><span>Sell a Car</span> </a>
             </div>
          </div>
        </div>
        <div class="col-md-4 content-box-6">
          <div class="feature-box-4">
             <div class="icon">
               <i class="glyph-icon flaticon-beetle text-white"></i>
             </div>
             <div class="content">
               <h6 class="text-white">ARE YOU LOOKING FOR A CAR?</h6>
               <p class="text-white">American classic cars, muscle cars, exotics, and late model classics are available from private sellers, specialty dealers, and collector car auctions located around the World. </p>
               <a class="button black" href="#"><span>Buy a Car</span> </a>
             </div>
          </div>
        </div>
       </div>
      </div>
     </section>
     
    <!--=================================
     content-box -->
    
    
     <!--=================================
     content-box -->
    
    <section class="simple-box page-section-ptb">
     <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid center-block" src="{% static 'images/blog/02.jpg' %}" alt="">
          <br/>
          <div class="feature-box-4 mt-3">
            <div class="icon">
              <i class="glyph-icon flaticon-price-tag text-red"></i>
            </div>
            <div class="content">
              <h6>LOW PRICES, NO HAGGLING </h6>
              <p>Best price around the simply dummy text the printin k a galley of type and bled it to make a type specimenbook. but the leap into. </p>
            </div>
         </div>
        </div>
        <div class="col-md-4">
          <img class="img-fluid center-block" src="{% static 'images/blog/03.jpg' %}" alt="">
          <br/>
          <div class="feature-box-4 mt-3">
            <div class="icon">
              <i class="glyph-icon flaticon-air-conditioning text-red"></i>
            </div>
            <div class="content">
              <h6>LARGEST CAR DEALERSHIP  </h6>
              <p>Best of the best simply dummy text the printin k a galley of type and bled it to make a type specimenbook. but the leap into.  </p>
            </div>
         </div>
        </div>
        <div class="col-md-4">
          <img class="img-fluid center-block" src="{% static 'images/blog/04.jpg' %}" alt="">
          <br/>
          <div class="feature-box-4 mt-3">
            <div class="icon">
              <i class="glyph-icon flaticon-reparation text-red"></i>
            </div>
            <div class="content">
              <h6>MULTIPOINT SAFETY CHECK  </h6>
              <p>We have your safety is simply dummy text the printin k a galley of type and bled it to make a type specimenbook. but the leap into.  </p>
            </div>
         </div>
        </div>
       </div>
      </div>
     </section>
     
    <!--=================================
     content-box -->
    
     <!--=================================
     form -->
    
    <section class="search-block find-car bg-3 bg-overlay-black-70 page-section-ptb">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-left">
             <h2 class="text-white">FIND A DREAM CAR </h2>
             <div class="separator"></div>
          </div>
        </div>
       </div>
    
       <div class="row">
        <div class="col-lg-8">
         <div class="row">
          <div class="col-md-4">
           <span>Select make</span>
            <div class="selected-box">
              <select class="selectpicker">
              <option>Make </option>
              <option>BMW</option>
              <option>Honda </option>
              <option>Hyundai </option>
              <option>Nissan </option>
              <option>Mercedes Benz </option>
             </select>
            </div>
          </div>
          <div class="col-md-4">
          <span>Select model</span>
            <div class="selected-box">
             <select class="selectpicker">
              <option>Model</option>
              <option>3-Series</option>
              <option>Carrera</option>
              <option>GT-R</option>
              <option>Cayenne</option>
              <option>Mazda6</option>
              <option>Macan</option>
             </select>
           </div>
          </div>
          <div class="col-md-4">
          <span>Select yar</span>
           <div class="selected-box">
             <select class="selectpicker">
              <option>Year</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
             </select>
            </div>
          </div>
          <div class="col-md-4">
          <span>Select body style</span>
          <div class="selected-box">
           <select class="selectpicker">
              <option>Body style</option>
              <option>2dr Car</option>
              <option>4dr Car</option>
              <option>Convertible</option>
              <option>Sedan</option>
              <option>Sports Utility</option>
             </select>
            </div>
          </div>
          <div class="col-md-4">
         <span>Select vehicle status</span>
           <div class="selected-box">
             <select class="selectpicker">
              <option>Vehicle Status</option>
              <option>Condition</option>
              <option>All Conditions</option>
              <option>Condition</option>
              <option>Brand New</option>
              <option>Slightly Used</option>
              <option>Used</option> 
             </select>
           </div>
          </div>
          <div class="col-md-4">
         <span>Select Mileage</span>
           <div class="selected-box">
             <select class="selectpicker">
              <option>1</option>
              <option>102</option>
              <option>13</option>
              <option>1540</option>
              <option>15</option>
              <option>20</option>
             </select>
           </div>
          </div>
          </div>
          </div>
          <div class="col-lg-4">
           <div class="price-slide">
              <div class="price">
               <label for="amount">Price Range</label>
                <input type="text" id="amount" class="amount" value="$50 - $300" />
                <div id="slider-range"></div>
                <a class="button" href="#">Search the Vehicle</a>
              </div>
             </div>
            </div>
          </div>
        </div>
      </section> 
    
     <!--=================================
     form -->
    
     <!--=================================
     feature-car -->
    
    <section class="feature-car new-arrival white-bg page-section-ptb">
      <div class="container">
       <div class="row">
        <div class="col-md-12">
          <div class="section-title">
             <span>Check out our Latest Car</span>
             <h2>LATEST CAR </h2>
             <div class="separator"></div>
          </div>
        </div>
       </div>
      <div class="row">
       <div class="col-md-12">
        <div class="owl-carousel" data-nav-arrow="true" data-nav-dots="true" data-items="4" data-md-items="4" data-sm-items="2" data-xs-items="2" data-space="10">
         <div class="item">
           <div class="car-item price-remove gray-bg text-center">
             <div class="car-image">
               <img class="img-fluid" src="{% static 'images/car/05.jpg' %}" alt="">
               <div class="car-overlay-banner">
                <ul> 
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2017</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">Acura Rsx</a>
               <div class="separator"></div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="car-item price-remove gray-bg text-center">
             <div class="car-image">
               <img class="img-fluid" src="{% static 'images/car/06.jpg' %}" alt="">
               <div class="car-overlay-banner">
                <ul> 
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2017</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">Lexus GS 450h</a>
               <div class="separator"></div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="car-item price-remove gray-bg text-center">
             <div class="car-image">
               <img class="img-fluid" src="{% static 'images/car/07.jpg' %}" alt="">
               <div class="car-overlay-banner">
                <ul> 
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2017</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">GTA 5 Lowriders DLC</a>
               <div class="separator"></div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="car-item price-remove gray-bg text-center">
             <div class="car-image">
               <img class="img-fluid" src="{% static 'images/car/01.jpg' %}" alt="">
               <div class="car-overlay-banner">
                <ul> 
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2017</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">Toyota avalon hybrid </a>
               <div class="separator"></div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="car-item price-remove gray-bg text-center">
             <div class="car-image">
               <img class="img-fluid" src="{% static 'images/car/02.jpg' %}" alt="">
               <div class="car-overlay-banner">
                <ul> 
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2017</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">Hyundai santa fe sport</a>
               <div class="separator"></div>
             </div>
           </div>
         </div>
        </div>  
       </div>
      </div>
     </div>
    </section>   
    
    <!--=================================
     feature-car -->
    
    
     <!--=================================
     play-video -->
    
       <section class="play-video-2-section bg-3 bg-overlay-black-70 page-section-ptb">
        <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="play-video-2">
            <div class="video-info text-center">
               <img class="img-fluid center-block" src="{% static 'images/car/17.jpg' %}" alt="">
               <a class="popup-youtube" href="https://www.youtube.com/watch?v=Xd0Ok-MkqoE"> <i class="fa fa-play"></i> </a>
             </div>
            </div>  
          </div>
          <div class="col-lg-6">
            <div class="custom-block-2 mt-lg-0">
               <h4 class="text-white">WELCOME TO THE CAR DEALER </h4>
               <span class="text-white">Everything you need to build an amazing dealership website  </span>
               <p class="text-white">Suitable for any car dealer websites, business or corporate websites. The Theme has been Created especially for<strong> Automotive Dealers,</strong> car resellers, car service stations, mechanic workshop and auto motor retailers. </p>
               <div class="ceo">
                 <img class="img-fluid" src="{% static 'images/signature-white.png' %}" alt="">
                 <strong class="text-red">Car Dealer fonder</strong>
                 <p class="text-white">Kevin walsh</p>
               </div>
             </div>
          </div>
         </div>
         </div> 
        </section> 
    
    <!--=================================
     play-video -->
    
    
    
    <!--=================================
     latest news -->
    
    <section class="latest-blog gray-bg page-section-ptb">
      <div class="container">
       <div class="row">
        <div class="col-md-12">
          <div class="section-title">
             <span>Read our latest news</span>
             <h2>latest news </h2>
             <div class="separator"></div>
          </div>
        </div>
       </div>
       <div class="row">
         <div class="col-lg-4">
            <div class="blog-2">
              <div class="blog-image">
                <img class="img-fluid" src="{% static 'images/blog/05.jpg' %}" alt="">
                <div class="date">
                  <span>aug 17</span>
                </div>
              </div>
              <div class="blog-content">
                <div class="blog-admin-main">
                 <div class="blog-admin">
                  <img class="img-fluid" src="{% static 'images/team/01.jpg' %}" alt="">
                  <span>John Doe</span>
                 </div>
                 <div class="blog-meta float-right">
                   <ul>
                     <li><a href="#"> <i class="fa fa-comment"></i><br /> 123</a></li>
                     <li class="share"><a href="#"> <i class="fa fa-share-alt"></i><br /> ...</a>
                      <div class="blog-social"> 
                       <ul>
                        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-pinterest-p"></i></a> </li>
                       </ul>
                       </div>
                     </li>
                   </ul>
                 </div>
                </div>
                <div class="blog-description text-center">
                   <a href="#">Does Your Life Lack Meaning</a>
                   <div class="separator"></div>
                  <p>You will begin to realize why this exercise Pattern is called the Dickens with reference to the ghost</p>
                </div>
              </div>
            </div>
         </div>
       <div class="col-lg-4">
            <div class="blog-2">
              <div class="blog-image">
                <img class="img-fluid" src="{% static 'images/blog/06.jpg' %}" alt="">
                <div class="date">
                  <span>aug 17</span>
                </div>
              </div>
              <div class="blog-content">
                <div class="blog-admin-main">
                 <div class="blog-admin">
                  <img class="img-fluid" src="images/team/02.jpg" alt="">
                  <span>Paul Flavius</span>
                 </div>
                 <div class="blog-meta float-right">
                   <ul>
                     <li><a href="#"> <i class="fa fa-comment"></i><br /> 123</a></li>
                     <li class="share"><a href="#"> <i class="fa fa-share-alt"></i><br /> ...</a>
                      <div class="blog-social"> 
                       <ul>
                        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-pinterest-p"></i></a> </li>
                       </ul>
                       </div>
                     </li>
                   </ul>
                 </div>
                </div>
                <div class="blog-description text-center">
                   <a href="#">The A Z Of Motivation</a>
                   <div class="separator"></div>
                  <p>Exercise is called you will begin to Pattern realize why this the Dickens Pattern with reference to ghost</p>
                </div>
              </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="blog-2">
              <div class="blog-image">
                <img class="img-fluid" src="{% static 'images/blog/07.jpg' %}" alt="">
                <div class="date">
                  <span>aug 17</span>
                </div>
              </div>
              <div class="blog-content">
                <div class="blog-admin-main">
                 <div class="blog-admin">
                  <img class="img-fluid" src="images/team/03.jpg" alt="">
                  <span>Sara Lisbon</span>
                 </div>
                 <div class="blog-meta float-right">
                   <ul>
                     <li><a href="#"> <i class="fa fa-comment"></i><br /> 123</a></li>
                     <li class="share"><a href="#"> <i class="fa fa-share-alt"></i><br /> ...</a>
                      <div class="blog-social"> 
                       <ul>
                        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-pinterest-p"></i></a> </li>
                       </ul>
                       </div>
                     </li>
                   </ul>
                 </div>
                </div>
                <div class="blog-description text-center">
                   <a href="#">Motivation In Life</a>
                   <div class="separator"></div>
                  <p>Dickens Pattern you will begin to realize why this Dickens exercise is the with reference to the ghost</p>
                </div>
              </div>
            </div>
         </div>   
        </div>
      </div>
    </section> 

    {% endblock content %}